body {
    font-family: Arial, sans-serif;
    margin: 20px;
    
    background-color: #f4f4f9;
  }
  form {
    max-width: 500px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 400px;
    margin-bottom: 100px;
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }