<!DOCTYPE html>
<html lang="en">
<head>
	<title>Shoping Cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<!-- font-awesome cdn link -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>

<!-- custom css file link -->
<link rel="stylesheet" href="styles/styles.css">

<link rel="stylesheet" href="styles/userSignup.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<!-- Toastr CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<style>
	a {
    text-decoration: none;
	}

	a:hover {
		text-decoration: none;
	}

</style>

</head>
<body class="animsition">
	
	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>

					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							My Account
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							EN
						</a>

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							USD
						</a>
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop how-shadow1">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="/" class="logo">
						<img src="/images/icons/thrayi-logo.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/">Home</a>
								
							</li>

							<li>
								<a href="/products">Shop</a>
							</li>

							

							<li>
								<a href="/about">About</a>
							</li>

							<li>
								<a href="/contact">Contact</a>
							</li>
						</ul>
					</div>	

					 <!-- Icon header -->
					 <div class="wrap-icon-header flex-w flex-r-m">
	
						<!-- Cart Icon -->
						<a href="/cart" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" <% if(cartProductCount){ %>
							data-notify = "<%= cartProductCount %>"
						  <% } else{ %>  
							data-notify = "0"
						 <% } %>>
							<i class="zmdi zmdi-shopping-cart"></i>
						</a>
	
					   
						<% if (isUserLoggedin) { %>
							<!-- Orders Icon -->
							<a class="orderIcon dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
							   <i class="zmdi zmdi-assignment"></i>
						   </a>
						  <% } %>
	
						<!-- User Profile Icon -->
						<a href="/profile/view" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							<i class="zmdi zmdi-account"></i>
						</a>
					</div>
	
	

				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							EN
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							USD
						</a>
					</div>
				</li>
			</ul>

		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

		<!-- breadcrumb -->
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
					Home
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a>
	
				<span class="stext-109 cl4">
					login
				</span>
			</div>
		</div>
	
	
	<div class="signup ">
		<div class="wrapper">
		   <div class="title">
			  Login
		   </div>
	
		   <form id="loginForm"  method="post">
			
			  <div class="field">
				  <input name="emailId" type="email" required>
				  <label>Email Id</label>
			   </div>
			   
			   <div class="field">
				  <input name="password" type="password" id="password" required>
				  <label >Password</label>
				  <span class="fa fa-eye-slash " id="togglePassword"  ></span>
			   </div>
			   <div class="field">
				  <input name="confirmPassword" type="password" id="confirmPassword" required>
				  <label>confirm Password</label>
				  <span class="fa fa-eye-slash " id="toggleConfirmPassword"  ></span>
	
				  <div class="passwordMatch">
					<span id="passwordError"  ></span>
				  </div>
	
			   </div>
			   <div class="field">
				  <input type="submit" value="Submit">
			   </div>

			   			   <!-- for show error messages -->
				<div class="show-errMessage d-flex justify-content-center align-items-center mb-3" style="color: red;" ></div>


			   <div class="signup-link">
				<a href="/passwordRecovery">forgott password?</a>
			 </div>
			  <div class="signup-link">
				 Don't have an account ? <a href="/signup">Signup</a>
			  </div>
		   </form>
	
		</div>
	  </div>
	
	 



		

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-4 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/orders" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<!-- <li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li> -->
					</ul>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="https://razorpay.com/" class="m-all-1" target="_blank">
						<img src="https://razorpay.com/assets/razorpay-logo.svg" alt="Razorpay Icon" style="width: 100px; height: auto;">
					</a>
				</div>
			
				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | THRAYI_FASHION&copy;
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
			
			
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- for sweet alert -->
	
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	 <!-- Toastr JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


	<script>

		// making post request to /login
		$('#loginForm').submit((e)=>{
			e.preventDefault() ;

			console.log('login button clickedd')
			// getting the form data
			const formData = $('#loginForm').serialize() ;
			console.log(formData) ;
			
			$.ajax({
				url : '/login' ,
				method : 'post' ,
				data : formData  ,
				success : (response) => {
					if(response.status) {
						toastr.success('Login successfully', "Success", {
							closeButton: true,
							progressBar: true,
							timeOut: 3000,
						});
						location.href = '/' 
					}
					if(response.loginError){
						console.log(response.message) ;
						toastr.error(response.message, "Error", {
							closeButton: true,
							progressBar: true,
							timeOut: 3000,
						});
					}
				}
			})
		})

		// for showing orderlist is empty
		$('.orderIcon').on('click',()=>{
			console.log('order icon clicked')
			$.ajax({
				url : '/orders',
				method : 'get' ,
				success : (response) => {
					swal({
						title : 'Order list is empty!',
						icon : 'info'
					})
				}
			})

		})

	</script>

	 <!-- script for visible password when clicking eye icon -->
	 <script>
	
		const passwordIcon = document.getElementById('togglePassword') ;
		const confirmPasswordIcon = document.getElementById('toggleConfirmPassword') ;
	
		const password = document.getElementById('password') ;
		const confirmPassword = document.getElementById('confirmPassword') ;
	
		// when clicking show password icon
		passwordIcon.addEventListener('click',function(){
		   if(password.type === 'password') {
			  password.type = 'text' ;
			  passwordIcon.classList.add('fa-eye') ;
			  passwordIcon.classList.remove('fa-eye-slash') ;
		   }
		   else{
			  password.type = 'password' ;
			  passwordIcon.classList.add('fa-eye-slash') ;
			  passwordIcon.classList.remove('fa-eye') ;
		   }
		})
	
		confirmPasswordIcon.addEventListener('click',function(){
		   if(confirmPassword.type === 'password') {
			  confirmPassword.type = 'text' ;
			  confirmPasswordIcon.classList.add('fa-eye') ;
			  confirmPasswordIcon.classList.remove('fa-eye-slash') ;
		   }
		   else{
			  confirmPassword.type = 'password' ;
			  confirmPasswordIcon.classList.add('fa-eye-slash') ;
			  confirmPasswordIcon.classList.remove('fa-eye') ;
		   }
		})
	
	
		// creating a validation function
		document.getElementById('signupForm').addEventListener('input',function(){
	
		   // check the password and confirm password are equal
		   const passwordValue = document.getElementById('password').value ;
		   const confirmPasswordValue = document.getElementById('confirmPassword').value ;
	
		   const errText = document.getElementById('passwordError') ;
	
		   if( passwordValue !== confirmPasswordValue ){
			  errText.textContent = "Passwords do not match"  ;
			  errText.classList.add('text-danger') ;
			  errText.classList.remove('text-success') ;
		   }
		   else{ 
			  if( passwordValue === '' && confirmPasswordValue === ''){
				 errText.textContent = '' ;
			  }
			  else{
				 errText.textContent = "Passwords match" ;
				 errText.classList.add('text-success') ;
				 errText.classList.remove('text-danger') ;
			  }
		   }
	
		   
		})
		
	   </script>
	
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



	

<!--===============================================================================================-->	
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>
</html>